/*css*/

body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/******************************************************/


.onMovie
{
    position: relative;
    overflow: hidden;       
}

.onMovie img
{
    width: 100%;
    height: 100%; 
}

.movieLayer
{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition:  all 0.8s ease-in;
    text-align: center;
    color: black;
}

.onMovie:hover .movieLayer
{
    top: 0;
}
