/*css*/

body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/******************************************************/


.onMovie
{
    position: relative;
    overflow: hidden;       
}

.onMovie img
{
    width: 100%;
    height: 100%; 
}

